<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <title class="title"><%= title %></title>
    >
</head>

<body>
    <h2 class="title"><%= title %></h2>
    <button type="button" value="click" class="first-add">Add task</button>
        <div class="outer-div">
            <!-- <form>
            <div class="form-row">
                <div class="col" id="format-form2">
                    <input type="text" class="form-control" id="description" name="item" placeholder="DetailSpace"
                        required>
                    <input type="submit" value="Add">
                </div>
            </div>
        </form> -->

        <form action="/api/todos?form=true" method="POST">
            <input type="text" id="todo" name="todo" placeholder="Enter a Todo" />
            <button type="submit">Add</button>
        </form>
            <div class="task-item">
                <% taskItems.forEach(todo => { %>
                <div>
                    <div class="two-buttons">
                        <form action="/api/todos/<%= todo.id %>?form=true&_method=put" method="POST" id="edit">
                            <input type="text" id="todo-<%= todo.id %>" name="todo" value="<%= todo.todo %>">
                            <button type="submit">Edit</button>
                        </form>

                        <form action="/api/todos/<%= todo.id %>?form=true&_method=delete" <%= todo.id %>" method="POST" id="delete">
                            <button type="submit">Delete</button>
                        </form>

                    </div>
                </div>
                <% }) %>
            </div>

            <div class="button-div1">
                <button type="button" value="click" class="collapsible button button5"><strong>Click</strong> for task
                    details</button>
                <div>
                    <ul id="content">
                        <% taskItems.forEach(details => { %>
                        <li><%= details.details %></li>
                        <% }) %>
                    </ul>
                </div>
            </div>

            <!-- <div class="button-div2">
            <button type="button" class="delete"><strong>Click</strong> to delete task</button>
        </div> -->

            <!-- <form action="/api/todos?form=true" method="POST">
            <label for="todo">Todo</label>
            <input type="text" name="todo" placeholder="Enter a Todo">
            <button type="submit">Add</button>
        </form> -->
        </div>



    <!-- <ul>
        <% taskItems.forEach(todo => { %>
        <li><%= todo.todo %></li>
        <% }) %>
        <% taskItems.forEach(details => { %>
        <li><%= details.details %></li>
        <% }) %>

    </ul> -->
    <script src="/script2.js"></script>
</body>

</html>